/* Diferentes Telas */
@media (max-width:1030px) {

   .header_logo {
        margin-right: 1%;
    }

}

@media (max-width:984px) {

    .aboutme_content {
        width: 100%;
    }
    .content_icons {
        width: 90%;
        margin-left: 10%;
    }
    .header_logo h2 {
        font-size: 1.6rem;
    }

    .header_nav {
        gap: 3rem;
    }

    .header_nav a{
        font-size: 0.9rem;
    }
 
}

@media (max-width:768px) {

    .section_introduction {
        flex-direction: column;
        gap: 30px;
    }

    .introduction_text {
        width: 90%;
        justify-content: center;

    }

 
}

/* Menu Hamburger */

@media (max-width:700px) {
    header {
        padding: 0px 15px;
        justify-content: space-between;
    }
    
    .header_nav {
        display: none;
    }

    .one,
    .two,
    .three {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }  

    .header_menuHamb {
        display: block;
        width: 30px;
        height: 30px;
    }

    header.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(30, 31, 30, 0.9);
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header.on .header_logo {
       padding-bottom: 15px;
    }

    header.on .header_logo h2 {
        padding-bottom: 15px;
        padding-left: 15px;
        font-size: 2.3rem;
     }

    header.on .header_menuHamb {
        position: absolute;
        right: 40px;
        top: 20px;
    }

        /* TRANSFORMANDO EM X*/
        header.on .header_menuHamb .one {
            transform: rotate(45deg) translate(5px, -8px);
        }
        header.on .header_menuHamb .two {
            opacity: 0;
        }
        header.on .header_menuHamb .three {
            transform: rotate(-45deg) translate(20px, -6Px);
        }
    
        header.on .header_nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        header.on .header_nav a{
            font-size: 1.8rem;
        }
 

}

/* Mobile */
@media (max-width:515px) {
    section {
        padding: 1rem;
    }

    .introduction_text h1 {
        font-size: 2.2rem;
    }
    
    .introduction_text p {
        font-size: 0.75rem;
    }

    .introduction_text a {
        padding: 0.25rem 1.3rem;
        font-size: 0.75rem;
    }
    .content_icons {
        width: 100%;
    }
    .content_icons p {

        font-size:0.8rem;
    }

    .introduction_image img{
        width: 300px;
    }
    
    .header_nav {
        display: none;
    }

    .contacts {
        gap: 80px;
    }
    

    .projects {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));;
        align-items: center;
        justify-items: center;
        gap: 30px;
    }

    
}

/*Mini*/

@media (max-width:376px) {

    .section_projects {
        padding: 25px 0px;
    }

    .project_item {
        width: 276px;
    }
    
    .project_item h4 {
        font-size: 1.1rem;
    }
    
    .project_item img {
        width: 276px;
        height: 176px;
    }

    .project_info {
        width: 276px;
    }

    .buttons_project a {
        padding: 4px 14px;
        font-size: 0.9rem;
    }

    
}
